{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        .main-container {
            display: flex;
        }
        .main-container>div {
            width: 100%;
            margin: 15px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="main-container">
        <div class="left">
            <h4>Infos Membre</h4>
            {{ form_row(form.lastName) }}
            {{ form_row(form.firstName) }}
        </div>
        <div class="right">
            <h4>Infos Compagnie</h4>
            {{ form_row(form.company.name) }}
            {{ form_row(form.company.nbEmployees) }}
            {{ form_row(form.company.active) }}
        </div>
    </div>
    {{ form_row(form.company.EnormeSUBMITBUTTON) }}
    {{ form_end(form) }}
{% endblock %}
