{% extends "base.html.twig" %}
{% block body %}
    {% for member in members %}
        <div>
            <p><a href="{{ path('member_update', {'id' : member.id}) }}">{{ member.fullName }}</a></p>
            <ul>
                {% for office in member.offices %}
                    <li>{{ office.name }} {{ office.size }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <a href="{{ path('member_create') }}">Créer un nouveau membre</a>
    <a href="{{ path('member_company_create') }}">Créer un nouveau membre avec une compagnie</a>
{% endblock %}

