{% extends 'base.html.twig' %}

{% block body %}
    <p>MAJ membre</p>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            //$('.maClasse').select2();
        });
    </script>
{% endblock %}


