{% if student.id != app.user.id %}
    <form method="post" action="{{ path('student_delete', {'id': student.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
        <button class="btn">Delete</button>
    </form>
{% endif %}