<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
.tmp => <div class="tmp"></div>
#id => <div id="id"></div>
div>span.test => <div><span class="test"></span></div>
<a href="{{ path('company_read') }}">Voir les sociétés</a>
</body>
</html>