{% extends 'base.html.twig' %}

{% block body %}
{#    table>thead>tr>th*3#}
    <a href="{{ path('office_create') }}" class="btn">Nouveau local</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nb</th>
            <th>Société</th>
            <th>Membres</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for office in offices %}
{#            tr>td*3#}
            <tr>
                <td>{{ office.name }}</td>
                <td>{{ office.size }}</td>
                <td>{{ office.company }}</td>
                <td>{{ office.members.count }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // $('.table')
        });
    </script>
{% endblock javascripts %}