{% extends "base.html.twig" %}

{% block body %}
    <h1>Liste des sociétés</h1>
    {% for company in companies %}
        <p>
            <a href="{{ path('company_update', { 'id': company.id }) }}">{{ company.name }}</a>
            <a class="delete_btn" href="{{ path('company_delete', { 'id': company.id }) }}"><button>X</button></a>
        </p>
    {% endfor %}
    <a href="{{ path('company_create') }}">Nouvelle société</a>
{% endblock %}

{% block javascripts %}
    <script>
        // récuperer tous les boutons qui possèdent la classe "delete_btn"
        let deleteButtons = document.getElementsByClassName('delete_btn');
        // parcourir tous mes boutons pour leur ajouter un événement
        for(let button of deleteButtons) {
            // ajouter addEventListener
            button.addEventListener('click', function(event) {
               let reponse = confirm('êtes-vous sûr de vouloir effectuer cette action ?');
               if(!reponse) {
                   // j'annule le comportement par défaut
                   event.preventDefault();
               }
            });
        }
    </script>
{% endblock %}



