<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script>
            toastr.options = {
                "positionClass": "toast-bottom-left"
            }
        </script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>Menus</p>
        <a href="{{ path('home') }}">Homepage</a>
        <a href="{{ path('company_read') }}">Sociétés</a>
        <a href="{{ path('member_read') }}">Membres</a>
        <a href="{{ path('office_read') }}">Locaux</a>

        {% for message in app.flashes('success') %}
            <script>
                toastr.success('{{ message }}');
            </script>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <script>
                toastr.error('{{ message }}');
            </script>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
